#Checkpoints
output/mt-dnn*/*/model_*.pt
output/st-dnn*/*/*/model_*.pt

#Dev scores
output/mt-dnn*/*/*dev_scores_*.json
output/st-dnn*/*/*/*dev_scores_*.json

#Older testscores
output/mt-dnn*/*/*test_scores_0.json
output/st-dnn*/*/*/*test_scores_0.json
output/mt-dnn*/*/*test_scores_1.json
output/st-dnn*/*/*/*test_scores_1.json
output/mt-dnn*/*/*test_scores_2.json
output/st-dnn*/*/*/*test_scores_2.json
output/mt-dnn*/*/*test_scores_3.json
output/st-dnn*/*/*/*test_scores_3.json

#mt-dnn repo
mt-dnn/

#Tweetsent datasets
data/input/*/tweetsent*
